.container {
    display: flex;
    flex-direction: column;
    height: 88vh;
    overflow-y: auto;
    border-radius: 0 0 5rem 5rem;
    padding: 0 2rem;
}

.layout_wrap {
    height: 88vh;
}
/*le media queries*/
    .container {
        height: 100vh;
        border-radius: 0;
    }