.class_mod {
    flex-direction: unset;
    padding: 0;
    position: relative;
}

.background_img {
    background: rgba(0, 0, 0) url(../../images/background.jpg) center no-repeat;
    background-size: cover;
    position: absolute;
    height: 150px;
    width: 100%;
    resize: both;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 3rem;
    background-color: #ffd7d7;
}

.profile_photo {
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    margin: 4rem auto 0 auto;
    border-radius: 2.5rem;
}

.hero_block {
    display: flex;
    flex-direction: column;
    margin: 6vh auto 0 auto;
}

.title {
    text-align: center;
    margin-bottom: 50px;
    color: #4e5166;
}

.username{
    text-align: center;
    margin: 0;
    color: #4e5166;
}

.role {
    text-align: center;
    font-weight: bold;
    line-height: 160%;
    margin: auto;
    color: #4e5166;
}

.email {
    text-align: center;
    font-size: 1.35rem;
    line-height: 160%;
    margin: auto;
    color: rgb(0, 0, 238);
    text-decoration: none;
}

.btnStyle {
    color: #4e5166;
    margin: auto;
    cursor: pointer;
}

.iconStyle {
    height: 2.4rem;
    width: auto;
    margin: 0 1rem 0 0;
    filter: invert(31%) sepia(8%) saturate(1230%) hue-rotate(195deg) brightness(94%) contrast(87%);

}

.nav {
    display: flex;
    flex-direction: row;
    margin: 3rem 0 6rem 0;
}